body {
  font-family: "Times New Roman", Times, serif;
  margin: 0px;
}

.top-bar .title {
  font-style: italic;
  color: white;
  text-align: center;
}

.main-content {
  background-color: #A6BD66;
}

.main-content .movie-title {
  width: 100%;
  text-align: center;
}

.main-content .movie-description small {
  display: block;
  text-align: right;
}

.main-content .movie-details .movie-cast table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.footer {
  background-color: #B75952;
}

@media screen and (max-width: 360px) {
  .top-bar {
    background-color: #0fa36b;
    position: static;
  }

  .media-content {
    display: none;
  }

  .main-content {
    line-height: 1.5em;
    font-family: sans-serif;
  }

  .main-content .movie-details .movie-cast, .main-content, .movie-awards {
    float: none;
    width: 100%;
  }
  
  .footer, .movie-external-content {
    padding: 0.3em;
    margin: 0px;
  }

  .movie-external-content h4 {
    margin: 0px;
  }

  .movie-external-content > ul:last-child {
    margin: 0px;
  }

  .movie-external-content ol {
    margin: 0px;
  }

  .top-bar h1 {
    margin: 0px;
    padding: 0.5em;
  }

  .movie-title {
    margin: 0px;
    padding: 0.5em 0;
  }
}

@media screen and (min-width: 360px) {
  .top-bar {
    background-color: #506693;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  
  .main-content {
    margin-top: 80px;
  }
  
  .main-content .movie-title {
    padding-top: 20px;
  }
  
  .main-content .media-content {
    width: 100%;
    margin-bottom: 50px;
  }
  
  .main-content .media-content img {
    height: 360px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .main-content .movie-description {
    margin: 0px 30px 0 30px;
  }
  
  .main-content .movie-details {
    width: 100%;
    background-color: #669B65;
  }
  
  .main-content .movie-details .movie-cast {
    float: left;
    width: 50%;
    background-color: inherit;
  }
  
  .main-content .movie-details .movie-cast h3 {
    text-align: center;
  }
  
  .main-content .movie-details .movie-cast table {
    margin-left: auto;
    margin-right: auto;
  }
  
  .main-content .movie-details .movie-cast th, td {
    padding: 15px;
  }
  
  .main-content .movie-details .movie-awards {
    float: right;
    width: 50%;
    background-color: inherit;
  }
  
  .clear {
    clear: both
  }
  
  .footer {
    margin-top: 0px;
    padding-bottom: 30px;
  }
  
  .footer .movie-external-content {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 30px;
  }
}