div {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
  text-align: center;
}

#title-heading {
  background-color: darkgreen;
  color: white;
  font-family: cursive;
}

.subtitle {
  font-weight: bolder;
  font-size: medium;
}

.selected-color {
  font-weight: normal;
}

.brown {
  background-color: brown;
  color: white;
}

.green{
  background-color: green;
  color: white;
}

.blue {
  background-color: blue;
  color: white;
}

.purple {
  background-color: purple;
  color: white;
}

.yellow {
  background-color: yellow;
  color: black;
}